* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    min-height: 100vh;
    max-width: 100%;
    background-color: white; 
    margin: 0 auto;
}

.menu{
    width: 100%;
    height: 5%;
}

.menuf{
    display: flex;
    height: 100%;
    border: none; /* iframe의 경계를 제거 */
}

/* 위의 바 구현*/
.top-lines {
    width: 100%;
    height: 1px; /* 20px top margin + 2 * 2px line thickness + 20px between lines */
    /* top: 45px; */
    /* display: flex; */
    margin-bottom: 1%;
    flex-direction: column;
    justify-content: space-between;
}

.top-lines::after {
content: "";
display: block;
height: 1px;
background-color: gray;
}

.nav-buttons {
top: 7px;
right: 10px;
display: flex;
justify-content: flex-end;
}

.nav-buttons button {
background-color: transparent;
color: gray;
border: none;
padding: 10px;
font-size: 15px;
cursor: pointer;
margin-left: 20px;
}

.nav-buttons button:hover {
color: black;
}

.ai-pharmacy {
    position: absolute;
    font-family: "Playfair Display", serif;
    top: 8px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    font-weight: 900; /* 굵기 조절 */
  }
 
/* 타이틀 바 구현 */
.title{
    width: 100%;
    height: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

/* 로그인이 되지 않았을 때 */
.notlogin{
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    height: 50%;
    background-color: white;
    text-align: center;
    text-size-adjust: 10%;
}

/* 로그인이 되었을 때 */
/* 베너 */
.bennerS{
    margin-bottom: 1%;
    width: 100%;
    height: 40%;
    text-align: center;
}

.bennerS > img{
    text-align: center;
    padding-top: 5%;
    padding-left: 2%;
    width: 10%;
    height: 10%;
}

.UseIS{
    text-align: center;
    padding-left: 2%;
    width: 100%;
    height: 10%;
    text-align: center;
}

.detail_h{
    display: flex;
    height: 750px;
}

/* 데이터 표시 박스 */
.buttonList{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    width: 20%;
    height: auto;
}

.buttonList > button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    width: 100%;
    text-align: center;
}

.bax{
    width: 90%;
    height: 90%;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 2%;
    border:solid black;
    text-align: center;
    
}

.buyDiv{
    display:inline-block;
    width: 100%;
    height: 5%;
    flex-direction: column;
    border: solid gray;
    justify-content: center;
    align-items: center;
}

.buyDivText{
    float: left;
    margin: 1%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 숨기기 기능*/
.hidden{
    display: none;
}