html {
    width: 100%;
    height: 100%;
}
body {
    overflow: scroll;
}

* { 
    margin: 0;
    padding: 0;
}

/* 타이틀 */

.menus{
    width: 100%;
    height: 5%;
}

.menus iframe {
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
}

/* 페이지 타이틀 */

.pagetitle{
    text-align: center;
}

/* form */

.such_In{
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
}

.such_In input{
    width : 50%;
    height : 30px;
}

.such_Butt{
    padding-top: 4.5px;
    padding-bottom: 6.5px;
    padding-right: 6.5px;
    padding-left: 6.5px;
    cursor: pointer;
}

/* 검색값 */

.parentStyle{
    width: 99.9%;
    height: 10%;
    border: 1px solid black;
    display: flex;
}

.parentText{
    width: 33.9%;
    height: 100%;
    margin: 0.1%;
    display: inline;
    align-items: center;
    flex-basis: auto;
}

.valuestyle{
    text-align: center;
}

/* 약목록 */

.BLM{
    width: 100%;
    box-sizing: content-box;
    text-align: center;
}

.BLM h1{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

.LM{
    width: 100%;
    height: 100%;
    margin-top: 1%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.ListBa{
    text-align: center;
    margin: 0.86%;
    flex-wrap: wrap;
    width: 18%;
    height: 145px;
    border: 1px solid black;
    cursor: pointer;
}

.Listtext{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Listtexth6{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LMB{
    margin: 0.5%;
    border: 1px solid black;
    width: 20%;
    height: 20%;
}

/* 기능성 */
.hidden{
    display: none;
}