* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    min-height: 100vh;
    max-width: 100%;
    background-color: white; 
    margin: 0 auto;
}

/* 로그인이 되지 않았을 때 */
.notlogin{
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    height: 50%;
    background-color: white;
    text-align: center;
    text-size-adjust: 10%;
}

/* 로그인이 되었을 때 */
.detail_h{
    display: flex;
    height: 700px;
}

/* 데이터 표시 박스 */
.bax{
    width: 98%;
    height: 98%;
    margin: 1%;
    border:solid black;
    text-align: center;
    overflow: scroll;
}

.buyDiv{
    display: inline-flex;
    height: auto;
    width: 100%;
    border: 1px solid gray;
}

.buyDivText{
    float: left;
    margin: 1%;
    width: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DDivText{
    float: left;
    margin: 1%;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JDivText{
    float: left;
    margin: 1%;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numDiv{
    height: 100%;
    width: 20%;
}

.numText{
    border: 1px solid black;
    float: left;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numB{
    border: 1px solid black;
    text-align: center;
    width: 100%;
    height: 45%;
}

/* 숨기기 기능*/
.hidden{
    display: none;
}