* { 
    margin: 0.5%;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 1%;
    text-align: center;
}

.jjj{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
}

.jjj div{
    background-color: white;
    margin-left:auto;
}

.jjj div button{
    width: 100%;
    height: 100%;
}
    
.onediv{
    width: 100%;
    height: 50%;
    box-sizing: content-box;
    display: flex;
}

.onediv img{
    border: none;
    width: 40%;
    height: 20%;
    margin-right: 10%;
    margin-left: 10%;
}

.onediv div{
    margin-top: 5%;
}

.fun{
    width: 100%;
    height: 10%;
}

.fun h6{
    text-align: center;
}

.onediv div{
    width: 100%;
    background-color: white;
    float: left;
}
 
.onediv div button{
    width: 100%;
    height: 50%;
}

.onediv div input{
    width: 100%;
    height: 50%;
}

.group{
    border: solid black;
}

.group div h3{
    text-align: center;
    background-color: gainsboro;
}

.twodiv{
    width: 100%;
    height: 100%;
    display: flex;
    float: left;
}

.twodiv input{
    margin-left: 51%;
}

.R_Div{
    display: flex;
    float: left;
    width: 100%;
    height: 100%;
}

.R_Div h5{
    padding: 1%;
    width: 100%;
    height: 100%;
    text-align: center;
    border: solid black;
    background-color: gainsboro;
}

/* 기능성 */
.hidden{
    display: none;
}