@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

mf {
  font-family: "Playfair Display", serif;
  align-content: center;
  font-size: 50px;
  font-style: normal;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.idfont {
  font-family: "Playfair Display", serif;
  display: block;
  margin: 0 auto;
}
.container {
  display: flex;
  height: 100vh; /* 화면의 전체 높이를 차지하도록 설정 */
}
.logo-container {
  flex: 1; /* 이미지가 가능한 한 많은 공간을 차지하도록 설정 */
  height: 100%;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}
.logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* 이미지가 박스의 크기에 맞게 조정되도록 설정 */
}
.box {
  background-color: #cddaa8;
  width: 35%; /* 박스가 오른쪽 절반을 차지하도록 설정 */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 위로 정렬 */
  padding-top: 20px; /* 상단 여백 추가 */
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; /* 입력 그룹 사이의 간격 추가 */
}

.id-label {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin-left: 5%;
}

input#id,
input#password {
  font-family: "Poppins", sans-serif;
  font-size: 18px; /* 폰트 크기 증가 */
  padding: 10px;
  width: 60%; /* 크기를 줄임 */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 200px; /* 아래 여백 추가 */
}

.login-button {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  width: auto; /* 버튼의 가로 크기를 자동으로 설정 */
  margin: 20px auto 0; /* 상단 여백, 수평 중앙 정렬 */
  background-color: #4caf50; /* 버튼 배경색 */
  color: white; /* 버튼 텍스트 색상 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
  background-color: #45a049; /* 호버 시 버튼 배경색 */
}
