@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

mf {
  font-family: "Playfair Display", serif;
  align-content: center;
  font-size: 50px;
  font-style: normal;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-size: 20px;
  color: #111;
  height: 30px; /* 세로 크기 줄이기 */
  border: none;
  border-bottom: solid #111111 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 1;
}

input::placeholder {
  color: #ffffff;
}
input:focus {
  outline: none;
}

span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 30px; /* span의 시작 위치를 label과 맞추기 위해 30px로 설정 */
  background-color: #111;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

label {
  position: absolute;
  color: #111;
  left: 1000px;
  font-size: 20px;
  bottom: 8px;
  transition: all 0.2s;
}

input:focus ~ label,
input:valid ~ label {
  font-size: 16px;
  bottom: 40px;
  color: #111;
  font-weight: bold;
}

.container {
  display: flex;
  height: 100vh; /* 화면의 전체 높이를 차지하도록 설정 */
}
.logo-container {
  flex: 1; /* 이미지가 가능한 한 많은 공간을 차지하도록 설정 */
  height: 100%;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}
.logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* 이미지가 박스의 크기에 맞게 조정되도록 설정 */
}
.box {
  background-color: #cddaa8;
  width: 35%; /* 박스가 오른쪽 절반을 차지하도록 설정 */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 위로 정렬 */
  padding-top: 20px; /* 상단 여백 추가 */
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.input-group {
  position: relative;
  margin-bottom: 20px; /* input 사이의 간격을 넓히기 위해 추가 */
}

.input-group input {
  width: 70%; /* input의 가로 크기를 줄이기 위해 80%로 설정 */
}

.input-group label {
  position: absolute;
  top: 0;
  left: 90px; /* 오른쪽으로 20px 옮기기 위해 10px에서 30px로 변경 */
  font-size: 20px;
  color: #aaa;
  transition: all 0.2s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  font-size: 16px;
  top: -20px;
  color: #666;
  font-weight: bold;
}

.input-group span {
  left: 90px; /* span의 시작 위치를 label과 맞추기 위해 30px로 설정 */
}

.input-group input:focus ~ span {
  width: 70%; /* input의 가로 크기와 맞추기 위해 80%로 설정 */
}

.title {
  margin-bottom: 200px; /* 아래 여백 추가 */
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 50px; /* 버튼 사이의 간격 제거 */
}

.m-b {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.m-b-outline {
  position: relative;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.m-b-login {
  background-color: aliceblue;
  color: #1e6b7b;
  padding: 10px 20px;
}

.m-b-login-outline {
  border: 3px solid aliceblue;
  color: #1e6b7b;
}

.m-b-login-outline:hover {
  color: #1e6b7b;
  background: aliceblue;
}

.m-b:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.m-b-outline:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

@keyframes gradient1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient2 {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.input-group {
  position: relative;
  margin-bottom: 20px; /* input 사이의 간격을 넓히기 위해 추가 */
}

.input-group input {
  width: 70%; /* input의 가로 크기를 줄이기 위해 80%로 설정 */
}

.input-group label {
  position: absolute;
  top: 0;
  left: 90px; /* 오른쪽으로 20px 옮기기 위해 10px에서 30px로 변경 */
  font-size: 20px;
  color: #aaa;
  transition: all 0.2s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  font-size: 16px;
  top: -20px;
  color: #666;
  font-weight: bold;
}

.input-group span {
  left: 90px; /* span의 시작 위치를 label과 맞추기 위해 30px로 설정 */
}

.input-group input:focus ~ span {
  width: 70%; /* input의 가로 크기와 맞추기 위해 80%로 설정 */
}
